<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="box">
        <form action="/<%= list.name %>" method="post">
            <div id="heading">
                <h1><%= list.name %></h1>
            </div>
            <% for(let task of list.tasks) {%>
            <div class="item">
                <input onchange="this.form.submit()" type="checkbox" <% if (task.done){ %> checked <% } %> name="id[]"
                value="<%= task._id.toString() %>">
                <p><%= task.description %></p>
                <button class="delete" type="submit" name="delete" value="<%= task._id.toString() %>">-</button>
            </div>
            <%}  %>
            <input type="hidden" name="listName" value=<%= list.name %>>

            <div class="box">
                <input type="text" name="newTask" id="newTask" autocomplete="false" placeholder="New Task">
                <button type="submit">+</button>
            </div>
        </form>
    </div>

</body>

</html>